@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
}
header{
  font-size: 3rem;
  background: lightgrey;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
}
main{
  display: flex;
  justify-content: space-between;
  gap: 15px;
  width: 1200px;
  margin: 30px auto;
}
input,textarea{
  font-size: 16px;
  padding: 5px 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 10px;
}
textarea{
  height: 70px;
}
button{
  padding: 10px 15px;
  border: none;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}
button:hover{
  opacity: 0.8;
}
button:active{
  transform: translateY(2px);
}
.wrapper{
  flex: 0 0 50%;
  box-shadow: 0px 2px 38px rgba(0, 0, 0, 0.2);
  min-height: 600px;
  height: fit-content;
  padding: 20px;
}
.form-wrapper{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.paper-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title{
  border-bottom: 1px solid lightgray;
  margin-bottom: 10px;
}
.description{
  margin: 20px 0;
}
.education-wrapper{
  margin: 20px 0;
}
.flex{
  display: flex;
  gap: 60px;
}
.delBtn{
  background-color: rgb(248, 21, 21);
  margin-top: 15px;
}
.addBtn{
  background-color: rgb(5, 182, 5);
  margin-bottom: 15px;
}
.buttons{
  display: flex;
  justify-content: flex-end;
  width: 1200px;
  text-align: right;
  margin: 20px auto;
  gap: 15px;
}
.buttons button{
  width: auto;
}
.expBtn{
  background-color: rgb(124, 123, 123)
}
.clearBtn{
  background-color: rgb(248, 21, 21);
}
.downloadBtn{
  background-color: white;
  color: black;
  border: 2px solid black;
}
